<div ng-include src="headerURL"></div>

<div class='body' style="margin: 5em auto 8em;">
	<div class="" style="width: 300px; margin: 2.5em 0;">
		<form ng-submit="Session.login(userobj)">
			<input class="form-control" type="text" placeholder="Username" ng-model="userobj.username"/><br />
			<input class="form-control" type="password" placeholder="Password" ng-model="userobj.password" /><br />
			<input class="btn btn-success" type="submit" value="Login" />
			<input class="btn btn-default" type="reset" value="Reset" />
			<a href="/api/login/google/" class="btn btn-danger">Sign in with Google</a>
		</form>
	</div>
</div>

<div ng-include src="footerURL"></div>
